<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Нестор Махно</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="card">
        <img src="{{ url_for('static', filename='Makhno.jpg') }}" alt="Нестор Махно">

        <h1>Нестор Махно</h1>

        <p>
            Ключевая фигура мирового анархизма, создатель Революционной повстанческой армии Украины
            и практик безгосударственного общества.
        </p>

        <a class="btn" href="nestor2" target="_blank">
            Узнать больше
        </a>
    </div>

</body>
</html>
